*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.classpath
.project
.settings
.tern-project
.idea/
*.iml
target/
pom.xml.releaseBackup
META-INF
*.out
*.env
src/main/webapp/version
.DS_Store
.vscode
bin/
.eclipse-pmd
soap-services.properties
/target/
log/level4-portlet.log
/log/
